<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealer Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include 'djangoapp/navbar.html' %}
    <!-- Navigation bar (add your content here) -->
    
    <div class="container mt-4">
        <!-- Dealer information -->
        <h1>Dealer Details</h1>
        <h2>{{ dealer_name }}</h2>
        <p>Dealer ID: {{ dealer_id }}</p>
        <p>City: {{ dealer_city }}</p>
        <p>Address: {{ dealer_location }}</p>
        <p>State: {{ dealer_state }}</p>
        <p>Zip: {{ dealer_zip }}</p>
        <!-- Add more dealer details here -->
    </div>

    <div class="container mt-4">
        <h2>Reviews</h2>
        <div class="row">
            {% for review in reviews %}
                <div class="col-md-4 mb-4">
                    <div class="card review-card">
                        <img src="/media/emoji/{{ review.sentiment|lower }}.png" class="card-img-top" style="max-height: 50px; width: auto; margin: 10px auto;">


                        <div class="card-body">
                            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <p class="card-text">{{ review.car_year }}</p>
                            <p class="card-text"><strong>{{ review.review }}</strong></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <div class="container mt-4">
        <a href="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" class="btn btn-primary">Add a Review</a>
    </div>

</body>
</html>
